{
  "info": {
    "title": "Echo API",
    "version": "1.0.0",
    "description": "A simple echo endpoint used for testing and demonstration purposes.\nReturns the full request details including headers, query parameters, and body.\nHosted at echo.zuplo.io — commonly used as a mock backend in Zuplo gateway demos.\n"
  },
  "openapi": "3.1.0",
  "components": {
    "schemas": {
      "EchoResponse": {
        "type": "object",
        "description": "Full echo of the incoming request",
        "properties": {
          "method": {
            "type": "string",
            "description": "HTTP method of the request",
            "example": "GET"
          },
          "url": {
            "type": "string",
            "description": "Full URL of the request",
            "example": "https://echo.zuplo.io/path-10"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "All request headers as key-value pairs",
            "example": {
              "authorization": "Bearer zpka_abc123",
              "content-type": "application/json"
            }
          },
          "query": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Query string parameters as key-value pairs",
            "example": {
              "foo": "bar"
            }
          },
          "body": {
            "description": "Request body — null for GET requests",
            "nullable": true,
            "type": "null"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer token — your Zuplo API key"
      }
    }
  },
  "servers": [
    {
      "url": "https://echo.zuplo.io",
      "description": "Zuplo echo service"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/test-hs256-auth": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "testHs256Auth",
        "summary": "Throwaway route to test built-in OpenIdJwtInboundPolicy with an HS256 shared secret",
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "default",
            "module": "$import(./modules/hello-world)"
          },
          "policies": {
            "inbound": ["test-hs256-auth"]
          }
        }
      }
    },
    "/standings": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "getStandings",
        "summary": "Get MLB standings",
        "description": "Returns current MLB standings for all divisions. No parameters required.",
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "default",
            "module": "$import(./modules/standings-handler)"
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound",
              "log-tool-call",
              "rate-limit-tool-call"
            ]
          },
          "mcp": {
            "type": "tool",
            "name": "getStandings",
            "description": "Returns current MLB standings for all divisions. No parameters required."
          }
        }
      }
    },
    "/scoreboard": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "getScoreboard",
        "summary": "Get MLB scoreboard",
        "description": "Returns today's MLB games with live scores. Use dates parameter (YYYYMMDD) for a specific date.",
        "parameters": [
          {
            "name": "dates",
            "in": "query",
            "required": false,
            "description": "Date in YYYYMMDD format, e.g. 20250401. Omit for today.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "default",
            "module": "$import(./modules/scoreboard-handler)"
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound",
              "log-tool-call",
              "rate-limit-tool-call"
            ]
          },
          "mcp": {
            "type": "tool",
            "name": "getScoreboard",
            "description": "Returns today's MLB games with live scores. Use dates parameter (YYYYMMDD) for a specific date."
          }
        }
      }
    },
    "/teams": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "getTeams",
        "summary": "Get MLB teams",
        "description": "Returns all MLB teams with IDs, names, and division info. Use this to look up a team ID before calling getTeamRoster or getTeamStats.",
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://statsapi.mlb.com/api/v1",
              "forwardSearch": true
            }
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound",
              "log-tool-call",
              "rate-limit-tool-call"
            ]
          },
          "mcp": {
            "type": "tool",
            "name": "getTeams",
            "description": "Returns all MLB teams with IDs, names, and division info. Use this to look up a team ID before calling getTeamRoster."
          }
        }
      }
    },
    "/news": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "getNews",
        "summary": "Get MLB news",
        "description": "Returns the latest MLB news and headlines.",
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://site.api.espn.com/apis/site/v2/sports/baseball/mlb"
            }
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound",
              "log-tool-call",
              "set-espn-user-agent",
              "rate-limit-tool-call"
            ]
          },
          "mcp": {
            "type": "tool",
            "name": "getNews",
            "description": "Returns the latest MLB news and headlines."
          }
        }
      }
    },
    "/people/search": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "searchPlayer",
        "summary": "Search for a player by name",
        "description": "Search for an MLB player by name to get their player ID. Always call this first before getPlayerStats to find the correct player ID.",
        "parameters": [
          {
            "name": "names",
            "in": "query",
            "required": true,
            "description": "Player name to search for, e.g. 'Shohei Ohtani' or 'Mookie Betts'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://statsapi.mlb.com/api/v1"
            }
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound",
              "log-tool-call",
              "rate-limit-tool-call"
            ]
          },
          "mcp": {
            "type": "tool",
            "name": "searchPlayer",
            "description": "Search for an MLB player by name to get their player ID. Always call this first before getPlayerStats."
          }
        }
      }
    },
    "/people/{playerId}/stats": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "getPlayerStats",
        "summary": "Get player stats",
        "description": "Returns season stats for a specific player. Requires a player ID — use searchPlayer first to find the correct ID. Use stats=season to get current season stats.",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "required": true,
            "description": "The MLB player ID, e.g. 660271 for Shohei Ohtani",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stats",
            "in": "query",
            "required": true,
            "description": "Type of stats. Use 'season' for current season stats.",
            "schema": {
              "type": "string",
              "enum": [
                "season",
                "career",
                "gameLog",
                "yearByYear"
              ]
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": false,
            "description": "Season year, e.g. 2025. Omit to get the current season.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "description": "Stat group: 'hitting', 'pitching', or 'fielding'",
            "schema": {
              "type": "string",
              "enum": [
                "hitting",
                "pitching",
                "fielding"
              ]
            }
          }
        ],
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://statsapi.mlb.com/api/v1"
            }
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound",
              "log-tool-call",
              "rate-limit-tool-call"
            ]
          },
          "mcp": {
            "type": "tool",
            "name": "getPlayerStats",
            "description": "Returns season stats for a specific player. Requires a player ID — use searchPlayer first. Use stats=season for current season stats."
          }
        }
      }
    },
    "/teams/{teamId}/roster": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "getTeamRoster",
        "summary": "Get team roster",
        "description": "Returns the current roster for a specific team including player IDs. Use getTeams first to find the correct team ID.",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The MLB team ID, e.g. 119 for the LA Dodgers, 147 for the NY Yankees",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": false,
            "description": "Season year, e.g. 2025",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://statsapi.mlb.com/api/v1"
            }
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound",
              "log-tool-call",
              "rate-limit-tool-call"
            ]
          },
          "mcp": {
            "type": "tool",
            "name": "getTeamRoster",
            "description": "Returns the current roster for a specific team including player IDs. Use getTeams first to find the correct team ID."
          }
        }
      }
    },
    "/mcp": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "post": {
        "operationId": "mcp-server",
        "summary": "MCP Server",
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "mcpServerHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "name": "mlb-mcp-server",
              "version": "1.0.0",
              "operations": [
                {
                  "file": "./config/routes.oas.json",
                  "id": "getStandings"
                },
                {
                  "file": "./config/routes.oas.json",
                  "id": "getScoreboard"
                },
                {
                  "file": "./config/routes.oas.json",
                  "id": "getTeams"
                },
                {
                  "file": "./config/routes.oas.json",
                  "id": "getNews"
                },
                {
                  "file": "./config/routes.oas.json",
                  "id": "searchPlayer"
                },
                {
                  "file": "./config/routes.oas.json",
                  "id": "getPlayerStats"
                },
                {
                  "file": "./config/routes.oas.json",
                  "id": "getTeamRoster"
                },
                {
                  "file": "./config/routes.oas.json",
                  "id": "echo-get"
                }
              ]
            }
          },
          "policies": {
            "inbound": [
              "mcp-jwt-auth-inbound"
            ]
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "x-zuplo-path": {
        "pathMode": "open-api"
      },
      "get": {
        "operationId": "jwks",
        "summary": "JWKS for MCP worker JWT auth",
        "description": "Publishes the public key used to verify JWTs the baseball Worker signs for the mcp-jwt-auth-inbound policy.",
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "default",
            "module": "$import(./modules/jwks-handler)"
          },
          "policies": {
            "inbound": []
          }
        }
      }
    },
    "/path-10": {
      "get": {
        "summary": "Echo a GET request",
        "description": "Returns the full details of the incoming GET request as JSON — headers, query parameters, URL, and method.",
        "operationId": "echo-get",
        "parameters": [
          {
            "name": "any",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Any query parameters are echoed back in the response"
          }
        ],
        "responses": {
          "200": {
            "description": "Echo response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EchoResponse"
                },
                "example": {
                  "method": "GET",
                  "url": "https://echo.zuplo.io/path-10?foo=bar",
                  "headers": {
                    "authorization": "Bearer zpka_abc123",
                    "user-agent": "curl/7.88.1",
                    "accept": "*/*"
                  },
                  "query": {
                    "foo": "bar"
                  },
                  "body": null
                }
              }
            }
          }
        }
      }
    }
  }
}
